section.section
  header.section__header
    h2.section__title Properties
  div.section__content
    p message.js 对外放 4 个重要的属性：$el、attrs、id 和 offset。另外还提供一个静态属性：DEFAULTS。
  include $el
  include attrs
  include id
  include offset
  include DEFAULTS
