# dependencies
**/node_modules

# production
/dist
/docs
/.vscode
/report

# misc
npm-debug.log*

/coverage
.idea
package-lock.json

# visual studio code
.history
*.log
functions/*
.temp/**

# screenshot
screenshot
.firebase
.eslintcache

.husky
/*.min.js
