section.section
  header.section__header
    h3.section__h3 duration
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd 6
    p 可选，执行提示信息展示的时间（单位：秒）。
    pre.section__pre
      code.section__code.
        // 导入 Message 模块
        import Message from '@yaohaixiao/message.js/message'

        const message = new Message({
          // 提示信息区将在 14 秒后自动关闭
          duration: 14,
          message: '可选，执行提示信息展示的时间（单位：秒）。'
        })
