section.section
  header.section__header
    h3.section__h3 id
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd ''
    p 可选，指定 Message 对象实例的 id 值，可以通过 Message.close(id) 静态方法手动关闭提示信息。
    pre.section__pre
      code.section__code.
        // 导入 Message 模块
        import Message from '@yaohaixiao/message.js/message'

        const message = new Message({
          id: 'info-message-001',
          message: '可选，指定 Message 对象实例的 id 值，可以通过 Message.close(id) 静态方法手动关闭提示信息。'
        })
