section.section
  header.section__header
    h3.section__h3 visible
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd true
    p 可选，指定提示信息创建后是否可见，即是否立即显示。如果设置 false，则需要手动调用 open() 方法显示。
    pre.section__pre
      code.section__code.
        // 导入 Message 模块
        import Message from '@yaohaixiao/message.js/message'

        // 默认自动显示
        const message = new Message({
          round: true,
          message: '可选，指定提示信息创建后是否可见，即是否立即显示。'
        })

        // 默认自动显示
        const message = new Message({
          round: true,
          visible: false,
          message: '可选，指定提示信息创建后是否可见，即是否立即显示。'
        })

        // 需要手动调用 open() 方法显示
        message.open()
