meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="message.js,JavaScript,message,Toolkit")
meta(name="description" content="message.js - 一个小巧实用的 JavaScript 提示信息工具库。")
link(rel="shortcut icon" href="./favicon.ico")
