section.section
  header.section__header
    h3.section__h3 destroy()
  div.section__content
    h4.section__h4 Description
    p destroy() 方法用于移除所有绘制的 DOM 节点，并移除绑定的事件处理器，同时重置所有 attrs 配置信息和重置 property 属性。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Message
    p Message 对象，便于链式方法调用。
    pre.section__pre
      code.section__code.
        // 导入 Message 模块
        import Message from '@yaohaixiao/message.js/message'

        const message = new Message({
          duration: 0,
          message: '可选，执行提示信息展示的时间（单位：秒）。'
        })

        message.destroy()
