section.section
  header.section__header
    h3.section__h3 Message.info(options)
  div.section__content
    h4.section__h4 Description
    p （静态方法）Message.info() 方法专门用来显示普通类型提示信息。
    h4.section__h4 Parameters
    h5.section__h4 options
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Object|String
    ul
      li Object：请参考 API 文档中 Options 参数的说明；
      li String: message.js 会将参数调整为 { message: options }，直接将参数文本作为 message 输出；
    pre.section__pre
      code.section__code.
        // 导入 Message 模块
        import Message from '@yaohaixiao/message.js/message'

        // Object 类型参数
        Message.info({
          round: true,
          message: 'Message.info() 方法专门用来显示普通类型提示信息。'
        })

        // String 类型参数
        Message.error('Message.info() 方法专门用来显示普通类型提示信息。')
