section.section
  header.section__header
    h3.section__h3 open()
  div.section__content
    h4.section__h4 Description
    p open() 方法用于手动显示提示信息。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Message
    p Message 对象，便于链式方法调用。
    pre.section__pre
      code.section__code.
        // 导入 Message 模块
        import Message from '@yaohaixiao/message.js/message'

        const message = new Message({
           type: 'success',
           // 不会自动显示
           visible: false,
           duration: 0,
           message: 'open() 方法用于手动显示提示信息。'
        })

        // 手动显示提示信息。
        message.open()
