section.section
  header.section__header
    h2.section__title Methods
  div.section__content
    p message.js 的提供了 6 个公共方法和 4 个静态方法：
  include attr
  include close
  include destroy
  include isClosed
  include open
  include reload
  include info
  include warning
  include success
  include error
